* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

img {
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

body {
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,115,0,1) 35%, rgba(255,235,0,1) 100%);
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,115,0,1) 35%, rgba(255,235,0,1) 100%);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
