header {
    max-width: 100vw;
    text-align: center;
}

.cabecalho__titulo__logo {
    max-width: 50%;
    margin: 0 auto;
}

#modoEscuroClaro {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 3em;
}

#header__EscuroClaro__icon {
    height: 100%;
    width: 100%;
    font-size: 2em;
    background-color: transparent;
    color: #4052D9;
    border: none;
    padding: 1px;
    cursor: pointer;
}