.discovery {
    margin: 0 auto;
    width: 90%;
}

.discovery__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem auto;
    margin-bottom: 0;
    flex-wrap: wrap;
    
}

#discovery__option {
    background-color: #4052D910;
    border-radius: 5px;
    height: 3rem;
    box-shadow: 
        inset  0px -7px 6px -8px #444, 
        0px 6px 10px -5px #4052D9;
    }
    
#discovery__option__icon {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    background-color: transparent;
    color: #4052D9;
    border: none;
    padding: 1px;
    cursor: pointer;
    
}
    
.discovery__plus__container {
    width: 100%;
    text-align: center;  
}

#discovery__plus {
    margin-top: 0;
    box-shadow: 
        inset  0px -7px 6px -8px #444, 
        0px 3px 3px -2px #4052D9;
    
}

.oculto {
    display: none;
}
    
.discovery__plus__container h3 {
    width: 100%;
    text-transform: capitalize;
    color: #555;
    font-size: .9rem;
    margin-bottom: .5rem;
}

#discovery__plus__search__form {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 95%;
    border: 1px solid #4052D9;
    border-radius: 5px;
    margin: 0 auto;
}

#discovery__plus__search__form__input {
    width: 90%;
    padding: 0.5rem;
    border: none;
    margin-left: 5px;
}
#discovery__plus__search__form__input:focus {
    outline: none;
}

#discovery__plus__search__form__icon {
    background-color: transparent;
    text-align: left;
    font-size: 1.2rem;
    border: none;
    color: #4052D9;
    cursor: pointer;
}

.exibeSPN {
    width: 95%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 0.8em;
    text-align: left;
    color: #ff261b;
}

#discovery__plus__types {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    gap: .4rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.type-button {
    width: 7rem;
    box-shadow: 
        inset  0px -7px 6px -8px #444, 
        0px 6px 5px -5px #4052D9;
    border: none;
    color: #FFF;
    font-size: 0.9rem;
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
}