* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

img {
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

body {
    max-width: 100vw;
    position: relative;
}

.bglight {
    background-color: #F6F7F8;
    transition-duration: 1s;
}

.bgdark {
    background-color: #1E1E1E;
    transition-duration: 1s;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: transparent;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
